table, th, td {
    border: 1px solid black;
}
h1 {
margin-top:0px;
margin-bottom:0px;
}

div#one {
    width: 99%;
    height:150px;
    background: grey;
    float: left;
		border-style: solid;
}
div#oneb1 {
    width: 10%;                 /*  was 15% */
    height: 600px;
    background: grey;
    float: left;
	border-style: solid;
/*	overflow: scroll; */
}
div#oneb2 {
    width: 36%;
    height: 600px;
/*    background: grey;   */
    float: left;
		border-style: solid;
/*	overflow: scroll; */
}
div#oneb3 {
    width: 26%;                /* was 48% */
    height: 600px;
    background: grey;
    float: left;              /* was right */
		border-style: solid;
/*	overflow: scroll; */
}
div#oneb4 {
	width: 26%;
	height: 600px;
	background: grey;
	float: left;
	   border-style: solid;
}

div#onec {
	width: 100%;
	height: 30px;
	background: grey;
	float: left;
/*	overflow: scroll; */
}

#header {
    background-color:black;
     color:white;
     text-align:center;
    padding:5px;
}
#context-menu {
	position: fixed;
	z-index:10000;
	width: 150px;
	background: gray;
	border-radius: 5px;
	display: none;
}
#context-menu.visible {
	display: block;
}